input {
    margin-left: 4px;
}
.notification {
    /* background-color: #4E945D; */
    border: white;
    /* border-color: #60B372; */
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    margin: 0;
    font-size: 1.1rem;
}
.success {
    border-color: #60B372;
    background-color: #4E945D;
}
.error {
    border-color: #9A1D1D;
    background-color: #b80000;
}