
.container {
  width: 90%;
  max-width: 1100px;
  margin: 3em auto;
}
input {
    margin-left: 4px;
}
.notification {
    /* background-color: #4E945D; */
    border: white;
    /* border-color: #60B372; */
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    margin: 0;
    font-size: 1.1rem;
}
.success {
    border-color: #60B372;
    background-color: #4E945D;
}
.error {
    border-color: #9A1D1D;
    background-color: #b80000;
}
.addBtn {
    margin: 8px 0;
    background-color: #4e945d;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.delete {
    margin: 0 8px;
    background-color: #b80000;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}